:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background-color: #F7F6F3;
  --point-color: #E83D11;
  --radius: 8px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--background-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--background-color);
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--point-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--background-color);
  border-color: var(--point-color);
  color: var(--point-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.box {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.itemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

input {
  background-color: var(--background-color);
  color: #0a0a0a;
  margin: 0 1em;
  height: 3em;
  border-radius: var(--radius);
}

.tag {
  border: 1px solid var(--point-color);
  padding: 0.5em;
  border-radius: var(--radius);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--background-color);
    background-color: var(--background-color);
  }
  a:hover {
    color: var(--point-color);
  }
  button {
    background-color: var(--background-color);
  }
}
